<footer>
  <div class="container-xxl">
    <div class="row">
      <div class="col-12">
        <p class="text-center"><img class="logo" src="/images/OIG1.jpeg" alt=""></p>

        <nav class="d-flex justify-content-center gap-4">
          <img src="/images/facebook.png" width="30px" class="py-5" alt="facebook">
          <img src="/images/twitter.png" width="30px" class="py-5" alt="twitter">
          <img src="/images/instagram.png" width="30px" class="py-5" alt="instagram">
          <img src="/images/youtube.png" width="30px" class="py-5" alt="youtube">
          <img src="/images/logotipo-de-linkedin.png" width="30px" class="py-5" alt="linkedin">
        </nav>
        
      </div>
    </div>
  </div>
</footer>